:root {
    --white: #fff;
    --black: #000;
    --muted-white: #FBFAE6;
    --default-theme-dark: #1b1e23;
    --default-theme-blue: #30475E;
    --default-theme-blue-dark: #353f4f;
    --default-theme-blue-muted: #425364;
    --default-theme-blue-tint: #d4d9de;
    --default-theme-gold: #7d6541;
}