.login {
    background-color: var(--default-theme-blue);
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        width: 90%;
        position: relative;
        input {
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 2px;
            padding: 0.5rem;
            background-color: var(--default-theme-blue-tint);
            &::placeholder {
                color: var(--black);
            }
        }
        button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .castle {
        max-width: 300px;
        margin: 0 auto;
        padding-top: 2rem;
        span {
            display: inline-block;
        }
        .flags {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            .flag {
                position: relative;
                top: -4rem;
                left: 1.3rem;
                margin-top: 4rem;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 40px solid black;
                border-bottom: 5px solid transparent;
                &:nth-child(2) {
                    left: 1.8rem;
                    border-top: 10px solid transparent;
                    border-left: 60px solid black;
                    border-bottom: 10px solid transparent;
                }
                &:nth-child(1),
                &:nth-child(3) {
                    top: 1.3rem;
                }
            }
        }

        .tower-tops {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            .tower-top {
                position: relative;
                width: 0;
                height: 0;
                top: 1.3rem;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 50px solid #000;
                &:nth-child(2) {
                    position: relative;
                    top: -3.7rem;
                    border-left: 35px solid transparent;
                    border-right: 35px solid transparent;
                    border-bottom: 70px solid #000;
                }
                &:nth-child(1),
                &:nth-child(3) {
                    &::after {
                        content: "";
                        position: absolute;
                        top: -1.3rem;
                        width: 2px;
                        height: 2rem;
                        margin-left: -1px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: -1.5rem;
                    width: 2px;
                    height: 2rem;
                    margin-left: -1px;
                    background: #000;
                }
            }
        }

        .tower-columns {
            width: 87%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            .tower-column {
                position: relative;
                width: 30px;
                height: 4.5rem;
                background-color: #000;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 40px;
                    background-color: #000;
                    height: 20px;
                    width: 5px;
                }
                &::before {
                    left: -5px;
                }
                &::after {
                    right: -5px;
                }
                &:nth-child(2) {
                    position: relative;
                    width: 50px;
                    top: -69px;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        background-color: #000;
                        height: 10px;
                        width: 15px;
                    }
                    &::before {
                        left: -23px;
                    }
                    &::after {
                        right: -23px;
                    }
                }
            }
        }

        .tower-middles {
            width: 88.5%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            .tower-middle {
                width: 100px;
                height: 1.4rem;
                background-color: #000;
                &:nth-child(2) {
                    position: relative;
                    height: 100px;
                    width: 230px;
                    top: -69px;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: -10px;
                        background-color: #000;
                        height: 10px;
                        width: 15px;
                    }
                    &::after {
                        right: 0;
                    }
                }
            }
        }

        .tower-bottoms {
            position: relative;
            top: -100px;
            width: 88.5%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .tower-bottom {
                box-shadow: 3px 7px 23px 7px #000;
                position: relative;
                top: -28px;
                width: 35%;
                height: 109px;
                background-color: #000;
            }
            .tower-door {
                position: relative;
                width: 80px;
                height: 80px;
                background-color: #000;
                border: 1px solid #232323;
                box-shadow: 3px 7px 23px 7px #000;
                border-bottom: none;
            }
        }
    }
}

@media(max-width: 768px) {
    .login .castle {
        max-width: 250px;
        height: 320px;
    }
}