body {
    font-family: 'Benne', sans-serif;
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
    &:hover,
    &:visited,
    &:active {
        color: var(--white);
    }
}

ul {
    list-style-type: none;
}

.page-wrapper {
    padding: 1rem 2rem;
}

button {
    cursor: pointer;
}