html,
body {
    height: 100%;
    background-color: var(--default-theme-dark);
}

body {
    font-family: 'Benne', sans-serif;
    color: var(--muted-white);
}

a {
    color: var(--muted-white);
    text-decoration: none;
    &:hover,
    &:visited,
    &:active {
        color: var(--white);
    }
}

ul {
    list-style-type: none;
}

.page-wrapper {
    padding: 65px 2rem 1rem;
}

button {
    cursor: pointer;
}