.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    background-color: var(--default-theme-gold);

    .nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        .nav-link {
            padding: 1rem;
        }
    }
    .site-name {
        font-size: 2rem;
        .fa-gamepad {
            font-size: 2rem;
            padding-right: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: .5rem 1rem;
        .site-name {
            font-size: 1rem;
            .fa-gamepad {
                font-size: 1.5rem;
                padding-right: .5rem;
            }
        }
    }
}