body {
    font-family: 'Benne', sans-serif;
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
    &:hover,
    &:visited,
    &:active {
        color: var(--white);
    }
}
p {
    font-size: 1.2rem;
    line-height: 1.4;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

.page-wrapper {
    padding: 1rem 2rem;
}